.container {
	padding: 10px;
	width: 100%;
	.connectContainer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
}

.signInButton {
	background: linear-gradient(180deg, #fd2ac4 15%, #bf23c3 49%);
}
