.container {
	padding: 10px;
	max-width: 100%;
	max-height: 100px;
	.connectContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
	}
}

.signInButton {
	background: linear-gradient(180deg, #fd2ac4 15%, #bf23c3 49%);
}
