.container {
	width: 100%;
	border-radius: 15px;
	max-height: 100px;
	overflow: hidden;
	// position: relative;
	.bgImage {
		// position: absolute;
		overflow: hidden !important;
		z-index: 0;
		position: relative;
		min-width: 100%;
		max-height: 100px;
		background-size: cover;
		object-fit: cover;
		width: auto;
		height: auto;
		// border-radius: 30px;
		.moreIcon {
			position: absolute;
			top: 1px;
			right: 1px;
		}
		.pfpContainer {
			padding: 0 20px 0 0;
			position: absolute;
			top: 0px;
			left: 15px;
			display: flex;
			width: inherit;

			.whiteBorder {
				border-radius: 50%;
				height: 100px;
				width: 140px;
				border: 3px solid white;
				z-index: 1;
				.profilePicture {
					height: -webkit-fill-available;
					object-fit: cover;
					background-size: cover;
					// width: 150px;
					border-radius: 50%;
				}
			}
			.text {
				display: flex;
				flex-direction: column;
				color: white;
				width: 100%;
				justify-content: center;
				padding: 0 10px;
				.nameAndCheckmark {
					display: flex;
					align-items: center;
					.name {
						font-size: 24px;
					}
					.verifiedIcon {
						height: 20px;
						width: 22px;
					}
				}
			}
		}
	}
}
