.signInButton {
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 14px 24px;
	color: #ffffff;
	background: linear-gradient(180deg, #fd2ac4 15%, #bf23c3 49%);
	font-size: 16px;
	font-weight: 500;
	border-radius: 10rem;
	box-shadow: 0 4px 24px -6px #1a88f8;

	transition: 200ms ease;
	&:hover {
		transform: translateY(-6px);
		box-shadow: 0 6px 40px -6px #1a88f8;
	}
	&:active {
		transform: translateY(-3px);
		box-shadow: 0 6px 32px -6px #1a88f8;
	}
}
