.outerContainer {
    .logo {
        position: absolute;
        // left: 15px;
        top: 25px;
    }
	.container {
		// max-width: 60px;
		display: flex;
		flex-direction: column;
		height: 70vh;
		width: 200px;
        // border: 1px solid white;
		padding-top: 2rem;
		align-items: flex-end;
		gap: 2rem;
		position: relative;
		.feed:hover {
            // create a hover effect
			// background-color: black;
            // border-radius: 50%;
            // width: 25px;
            // height: 25px;
		}
	}
}
